<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Leafletjs WebMap Viewer</a>
    </div>
    <button type="button" class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></button>
    <button type="button" class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#symbology"><span class="glyphicon glyphicon-text-color"></span></button>
  </div>
</nav>
<div class="panel panel-default">
    <div id="myMap" style="height:1000px;"></div>
</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adding layer to the map</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li><a href="#general" data-toggle="tab">General</a></li>
                    <li><a href="#setting" data-toggle="tab">Setting</a></li>
                </ul>
             
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="general">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter the URL here" [(ngModel)]="wmsURL">
                        <span class="input-group-btn"><button class="btn btn-secondary" type="button" (click)="loadWMSLayer()">Add to the map</button></span>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="setting">
                    <div class="form-group">
                        <label>Search Condition:</label>
                        <input type="text" class="form-control" placeholder="Search Condition (default 1=1)" [(ngModel)]="whereCondition">
                        <label>Coordinate System ID (SRID):</label>
                        <input type="text" class="form-control" placeholder="Coordinate System ID (default 4326 - WGS84)" [(ngModel)]="srid">
                        <label>Return Distinct Values:</label>
                        <input type="text" class="form-control" placeholder="Return Distinct Values (default False)" [(ngModel)]="returnDistinctValues">                        
                    </div>                    
                </div>
            </div>         

            <!--Modal Tab Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--Symbology Tab-->

<div id="symbology" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Define Symbology</h4>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


